*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* header */
header{
    width: 100%;
    background: #F0D6F0;
    padding: 10px;
}
header nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
}
header nav .left-navbar .logo img{
    width: 50px;
   
}
header nav .middle-navbar{
    background-color: #ffff;
    width: 65%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 15px;

}
header nav .middle-navbar .icon i .bx{
    margin-right: 5px;
    background: #444444;

}
header nav .middle-navbar .input, input{
    width: 100%;
   
}
header nav .middle-navbar .input input{
    width: 100%;
    height: 100%;
    border: none;
    /* padding: 5px 10px; */
}
header nav .middle-navbar .input input::placeholder{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    border: none;
}
header nav .right-navbar{
    /* width:400px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    margin-left: 10px;
}
header nav .right-navbar .search-btn{
    margin-left:5px;
    
}
header nav .right-navbar .search-btn button{
    padding: 10px 20px;
    border: none;
    background-color: #B366B3;
    border-radius: 15px;
}
header nav .right-navbar  .icons{
    margin-left:35px;
    display: flex;
    align-items: center;
    gap:10px;
}
header nav .right-navbar  .icons > div{
    display: flex;
    align-items: center;
    gap:5px;
}
header nav .right-navbar .icons .bx{
    font-size: 30px;
}
header nav .right-navbar .icons button{
    border: none;
    background-color: transparent;
    margin-left: 10px;
}
header nav .right-navbar .icons button a{
    text-decoration: none;
}
.menu .bx{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
header nav .right-navbar  .icons  .clear {
    display: none;
} 

/*hero section */
.hero{
    width: 100;
    /* border-bottom: 25px solid #670067; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.hero .top{
    width:100%;
    display: flex;
    align-items: center;
    /* justify-content:center; */
    gap: 10px;
}
.hero .top .humber-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F0D6F0;
}
.hero .top .humber-icon .bx{
    font-size:40px;
    color: #444444;
}

.hero .top p{
    font-size: 50px;
    text-align: center;
    margin-left: 570px;
}

/*product section*/
.product-section{
    width: 100;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    
}
.product-section .product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 30px; */
}
.product-section .product .left-product-section{
    width: 60%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    gap: 10px;
    padding:0 15px;
    height: 369px;
}
.product-section .product .left-product-section .product-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.product-section .product .left-product-section .product-images .image{
    background-color: #ffff;
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 180px;
    height: 200px;
}
.product-section .product .left-product-section .product-images .image img{
    width: 150px;

}
.product-section .product .left-product-section .product-images .mini-img{
    width: 100%;
    display: flex;
    align-items: center;
    gap:15px;
}

.product-section .product .left-product-section .product-images .mini-img img{
    width: 80px;
}
.product-section .product .left-product-section .product-info{
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
}
.product-section .product .left-product-section .product-info p{
    font-weight: 200px;
    font-size: 14px;
    line-height: 26px;
}
.product-section .product .left-product-section .product-info .icon-info{
    display: flex;
    align-items: center;
   gap:5px;
}
.product-section .product .left-product-section .product-info .btn{
    background-color: #B366B3;
    width: 100%;
  margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.product-section .product .left-product-section .product-info .btn button {
    border: none;
    padding: 10px 15px;
    background-color: transparent;
    color: #ffff;
    font-size: 16px;
}
.product-section .product .left-product-section .product-info .btn .bx{
    font-size: 20px;
    color: #ffff;
}
/* right-product-section*/
.right-product-section{
    background-color: #D9D9D9;
    width: 25%;
    border: 2px solid black;
    /* padding: 10px; */
}
.right-product-section .delivery_return{
    width: 100%;
 border-bottom: 4px solid #ffff;

}
.right-product-section .delivery_return h3{
    text-align: center;
    width: 100%;
}
.right-product-section .location-text{
    margin-top: 20px;
    text-align: center;
}
.right-product-section .abuja,  .asokoro{
    width: 80%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 6px;

}
.right-product-section .abuja select,  .asokoro select{
    background-color: transparent;
    border: none;
    font-size: 20px;
}
.right-product-section .pick_up_station{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.right-product-section  img{
    width: 60px;
}
.right-product-section .pick_up_station .station p{
    margin-bottom: 30px;
    
}
.right-product-section .pick_up_station .station a{
    text-decoration: none;
    color: #B366B3;
    font-size: 15px;
}
.right-product-section .delivery-place{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.right-product-section .delivery-place a{
    text-decoration: none;
    color: #B366B3;
    font-size: 15px;
}

/* right-product-section ends*/
/* product details*/
.product-section .product-details{
    width: 100%;
    background-color: #D9D9D9;
    margin-top: 30px;
    padding: 0 10px;
}
.product-section .product-details h2{
    border-bottom: 4px solid #fff;
    padding: 10px 5px;
    margin: 0;
    font-size: 18px;
}
.product-section .product-details .details{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:6px
}
.product-section .product-details .details > div{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    padding:0 10px;
}
.product-section .product-details .details > div h3{
    font-size: 16px;
    margin-bottom: 10px;
}
.product-section .product-details .details > div p{
    line-height: 25px;
    font-size: 14px;
}
/* product details ends*/
/* reviews */
.customer-review{
    width: 100%;
    margin-top: 20px;
}

.customer-review .customer{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 5px 10px;
    margin-bottom: 20px;
}
.customer-review .customer a{
    text-decoration: none;
}
.customer-review .customers-view-container{
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}
.customer-review .customers-view-container .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.customer-review .customers-view-container .box .image{
    border: 1px solid  #B366B3;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
}
.customer-review .customers-view-container .box .image img{
    width: 100%;
    transition: transform 0.2s ease;
}
.customer-review .customers-view-container .box .image img:hover{
    transform: scale(1.1);
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-top: 5rem;
    background-color: #f1f1f1;
}

.footer div {
    flex: 1;
}

.footer .left, .footer .center, .footer .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .left ul {
    list-style-type: none;
    padding: 0;
    list-style: none;
}

.footer .left ul li {
    margin: 5px 0;
   text-decoration: none;
   list-style: none;
}

.footer .center a {
    margin: 0 10px;

}

.footer .center p {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}

.footer .right a {
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer .left .logo-and-list {
    display: flex;
    align-items: center;
}

.footer .left .logo-and-list .ab {
    width: 10px;  /* Adjust width as needed */
    height: auto;  /* Maintain aspect ratio */
    margin-right: 20px;  /* Space between the logo and the list */
}















/* reviews  ends*/

/*product section ends*/
/*media query*/

@media screen and (max-width:1048px){

    body{
        width: 100%;
        overflow-x: hidden;
    }
    header{
        width:100%;
    }
   
    
    header nav .middle-navbar{
        width: 60%;
    }
    header nav .right-navbar{
        /* background-color: #ffff; */
        display: flex;
        justify-content: space-between;
        gap:20px;
        width: 400px;

       
    }
    header nav .right-navbar  .icons{
        /* background-color: aqua; */
        /* width: 250px; */
        margin-left: 10px;
        display: flex;
        
    }
    header nav .right-navbar  .icons > div{
       width: 150px;
        /* background-color: antiquewhite; */
    }
    .menu{
        margin-left: 150px;
    }
    /* header nav .right-navbar  .icons .user{
        display: none;

    } */

    .product-section .product{
    width: 100%;
    flex-direction: column;
}
.product-section .product .left-product-section, .right-product-section{
    width: 100%;
    padding: 15px;
    height: fit-content;
}
customer-review{
    width: 100%;
}

}
@media screen and (max-width:786px) {
   
    body{
        width: 100%;
    }
    header{
        width:100%;
    }

    
         .menu .bx{
            display: block;
         }

         header nav .right-navbar  .icons{
            position: absolute;
            top:100px;
            /* bottom: 100px; */
            left: 5px;
            display: block;
            background-color: #B366B3;
            padding: 10px 30px;
            flex-direction: column;
            align-items:center;
            border-radius: 10px;
            display:none;
       }  
       header nav .right-navbar  .icons > div{
        flex-direction: column;
        align-items: center;
        padding: 10px 50px;
        color: #ffff;
       }
       header nav .right-navbar  .icons > div button, a{
            color: #ffff;
            margin-top:5px ;
       }
       header nav .right-navbar  .icons  .clear    {
            margin-left: 90px;
            display: flex;
            justify-self: end;
            align-self: flex-end;
            position:absolute;
            left:39px;
            top: -10px;
            bottom: 20;
            display: block;
       }
       /*hero section */
.hero{
    width: 100;
    border-bottom: 25px solid #670067;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.hero .top{
    width:100%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
}
.hero .top p{
    font-size: 50px;
    text-align: center;
    margin-left: 170px;
}
/* product */
.product-section .product{
    width: 100%;
    flex-direction: column;
}
.product-section .product .left-product-section, .right-product-section{
    width: 100%;
    padding: 15px;
    height: fit-content;
}

/* .product-section .product-details */
.product-section .product-details{
    width: 100%;
}
.product-section .product-details .details{
    width: 100%;
    align-items: center;
}
/* customer review*/
.customer-review{
    width: 100%;
}

.customers-view-container{
    flex-direction: column;
}
.footer{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
}
.footer ul li{
    list-style: none;
}
}