<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Method</title>
    <link rel="stylesheet" href="../static/css/card-payment.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- header -->
     <header>
        <h4>X-Beta</h4>
        <img src="../static/img/logo3.png" alt="">
        <h3>PAY</h3>
     </header>
    <!-- header ends-->
     <div class="container">
        <div class="order-summary">
            <div class="summary">
                <span>ORDER SUMMARY</span>
                <a href="/X-beta/FRONTEND/templates/delevery-details.html">SEE DETAILS  ></a>
            </div>

            <div class="total">
                <p>TOTAL TO PAY</p>
                <p class="price">₦735,900</p>
            </div>
        </div>
        <h2>CHOOSE YOUR PAYMENT METHOD</h2>
         <div class="payment-method">

                <div class="input-radio">
                    <input type="radio">
                </div>
                <div class="text">
                    Pay with USSD or Bank Transfer
                </div>
                <div class="img">
                    <img src="../static/img/bank-phone.png">

                    <img src="../static/img/bank-img.png" alt="">
                </div>
        </div>
        <div class="card-container">
            <div class="payment-card">

                <div class="input-radio">
                    <input type="radio">
                </div>
                <div class="text">
                   Pay with Mastercard or Visa
                </div>
                <div class="img">
                    <img src="../static/img/mastercard-img.png">

                    <img src="../static/img/visa-img.png" alt="">
                </div>
        </div>
        <div class="card">
            <h6>Card number</h6>
        </div>
        <small>Expire  Date</small>
        <div class="card-details">
            <div>
                <h5>MM</h5>
                <div class="icon"><i class='bx bx-chevron-down'></i></div>
            </div>

            <div>
                <h5>YY</h5>
                <div class="icon">
                    <i class='bx bx-chevron-down'></i>
                    <i class='bx bx-help-circle'></i>
                </div>
            </div>
            <div>
                <h5>CCV</h5>
                <div class="icon"> <i class='bx bx-chevron-down'></i></div>
            </div>















        </div>

        </div>
         
        <button>PAY NOW: 735,900</button>
     </div>

     <div class="warning">
        <p>Kindly note that you will never be asked for your </p>

        <p>password, PIN, CVV or full card details over the </p>

        <p>phone or via email.</p>
     </div>
     <div class="back-home">
        <a href="./home.html">BACK TO X-Beta</a>
     </div>
</body>
</html>