<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="../FRONTEND/styles/login.css">
</head>
<body>
    <div class="container">
        <div class="signin-form">
            <div class="logo">
            <a href=""><img src="../FRONTEND/img/logo.png" alt="" class=""></a>
            </div>
            <h2>Create your account</h2>
            <p>Let’s get started by creating your account.</p>
            <form>
                <div class="input-group">
                    <label for="email"></label>
                    
                    <input type="text" id="username" placeholder="+234 800 123 4567" name="username" required>
                   
                
                </div>
                <div class="input-group">
                    <label for="password"></label>
                    <div class="flex">
                        
                    <input type="password" id="password" name="password" placeholder="Password*" required>
                    <img src="../FRONTEND/img/arcticons_password.png" alt="">
                    </div>
                </div>
                <div class="input-group confirm">
                    <label for="password"></label>
                    <div class="flex">
                        
                    <input type="password" id="password" name="password" placeholder="Confirm Password*" required>
                    <img src="../FRONTEND/img/arcticons_password.png" alt="">
                    </div>
                </div>
                <button type="submit">Continue</button>

            </form>
            <!-- <a href="signp.html">

                <p>
                Dont have an account? sign up
                </p>
            </a>
             -->
            <a href="">
                <p>
                For further support, you may visit the Help Center or contact our customer service team.
                </p>
            </a>
            <div class="x-beta">
            <a href="">X-BETA
                <span><img src="../FRONTEND/img/logo2.png" alt=""></span>
            </a>
            </div>



            
        </div>
    </div>

</body>
</html>