{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Address </title>
    <link rel="stylesheet" href="{% static 'css/customeraddress.css' %}">
    <link href="{% static 'img/logo.png' %}" rel ="icon"/>
</head>
<body>
    <main class="main-content">
        <section class="header">
            <div class="header-item">
                <img src="{% static 'img/contact.png' %}" alt="Contact" class="icon">
                <span>Need Help? <a href="#">Contact us</a></span>
            </div>
            <div class="header-item">
                <img src="{% static 'img/payments.png' %}" alt="Secure Payments" class="icon">
                <span>Secure Payments</span>
            </div>
            <div class="header-item">
                <img src="{% static 'img/returns.png' %}" alt="Easy Returns" class="icon">
                <span>Easy Returns</span>
            </div>
        </section>
        <img src="{% static 'img/X-beta.png' %}" alt="X-beta">
        <section class="form-section">
            <h2>1. CUSTOMER ADDRESS</h2>
            <form>
                <div class="form-row">
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="form-row">
                    <div class="phone-input">
                        <span>Prefix</span>
                        <input type="number" placeholder="Phone Number">
                    </div>
                    <div class="phone-input">
                        <span>Prefix</span>
                        <span>+234</span>
                        <input type="number" placeholder="Additional Phone Number">
                    </div>
                </div>
                <div class="form-row">
                    <input type="text" placeholder="Delivery Address">
                </div>
                <div class="form-row">
                    <input type="text" placeholder="Enter Additional Information">
                </div>
                <div class="form-row">
                    <select>
                        <option>State</option>
                    </select>
                    <select>
                        <option>City</option>
                    </select>
                </div>
                <div class="form-buttons">
                    <button type="button" class="cancel-button">CANCEL</button>
                    <button type="submit" class="save-button">SAVE</button>
                </div>
            </form>
        </section>

        <section class="form-section">
            <h2>2. DELIVERY DETAILS</h2>
        </section>

        <section class="form-section">
            <h2>3. PAYMENT METHOD</h2>
        </section>
    </main>
</body>
</html>
