<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Details</title>
    <link rel="stylesheet" href="../static/css/delivery-details.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- header section -->
     <header>
        <nav>
            <!-- left navbar -->
            <div class="left-nav">
                <div class="image">
                    <img src="../static/img/contact.png" alt="">
                </div>
                <div class="details">
                    <h6>Need help?</h6>
                   <a href="#">contact us</a>
                </div>
            </div>
            <!-- middle navbar -->
            <div class="middle-nav">
                <div class="image">
                    <img src="../static/img/payments.png" alt="">
                </div>
                <div class="details">
                    <h6>Secure</h6>
                   <a href="#">Payment</a>
                </div>
            </div>
            <!-- right navbar -->
             <div class="right-nav">
                <div class="image">
                    <img src="../static/img/returns.png" alt="">
                </div>
                <div class="details">
                    <h6>Eeasy</h6>
                   <a href="#">return</a>
                </div>
             </div>
            
        </nav>
     </header>
    <!-- header section ends -->
     <!-- hero section -->
      <div class="hero">
        <h1>X-Beta</h1>
      </div>
       <!-- hero section ends -->
      <!-- products details section -->
       <section>
        <!-- delivery  details section -->
         <div class="delivery-details">
            <!-- customer-address -->
            
                <div class="address">
                    <div class="icon">
                        <i class='bx bx-check'></i>
                    </div>
                    <h4>1. Customer Address</h4>
                </div>

                <div class="place">
                    <div class="peter">
                        <h4>Peter Danta</h4>
                        <a href="#">Change</a>
                    </div>
                   <p>N0. 25 Lugard Street Area 11 | FCT| ASOKORO</p>
                   <p>+2340985566677</p>
                </div>
            
            <!-- customer-address ends-->
            <!-- delivery-items-details -->
             <div class="delivery-items-details">
                <div class="address">
                    <div class="icon">
                        <i class='bx bx-check'></i>
                    </div>
                    <h4>2. Delivery Details</h4>
                </div>
                <div class="delivery-pickup-station">
                    <h5>Pick up  Station <span>(Fee ₦1,250)</span></h5>
                    <p>Delivery between 08 July and 15 July</p>
                    <!-- box 1 -->
                    <div>
                        <small>Shipment 1/3<span>To fulfilled by X-Beta</span></small>
                        <div class="products">
                            <h4>Pick up Station</h4>
                            <small>
                                Pickup Station Delivery between 08 July and 10 July
                            </small>
                            <div class="product">
                                <div class="img">
                                    <img src="../static/img/hp-promax-img.jpg" alt="">
                                </div>
                                <div>
                                    <p>HP Laptop 
                                    </p>
                                    <small>Qty: 1</small>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- box2 -->
                    <div>
                        <small>Shipment 2/3<span>To be fulfilled by Archy</span></small>
                        <div class="products">
                            <h4>Pick up Station</h4>
                            <small>
                                Pickup Station Delivery between 08 July and 10 July
                            </small>
                            <div class="product">
                                <div class="img">
                                    <img src="../static/img/adoera-camera-img.jpg" alt="">
                                </div>
                                <div>
                                    <p>Andoer 1080P D Camera
                                    </p>
                                    <small>Qty: 1</small>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- box3 -->
                    <div>
                        <small>Shipment 3/3
                            <span>
                                To be fulfilled by Crystalgold
                            </span>
                        </small>
                        <div class="products">
                            <h4>Pick up Station</h4>
                            <small>
                                Pickup Station Delivery between 08 July and 10 July
                            </small>
                            <div class="product">
                                <div class="img">
                                    <img src="../static/img/car-charger-img.jpg" alt="">
                                </div>
                                <div>
                                    <p>G7 Bluetooth Car Charger
                                        </p>
                                    <small>Qty: 1</small>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
             </div>
             <!-- delivery-items-details  ends-->
         </div>
         <!-- order summary -->
          <div class="order-summary">
            <div class="summary">
                <h3>Oder Summary</h3>
            </div>
            <div class="cost">
                <div>
                    <small>Item's total (3)</small>
                    <h5> ₦734,650</h5>
                </div>

                <div>
                    <small>Delivery Fee </small>
                    <h5> ₦1,250</h5>
                </div>
                
            </div>
            <div class="total">
                <h5>Total</h5>
                <h5>₦735,900</h5>
            </div>
                  <button>Confirm Order</button>
          </div>
       </section>
      <!-- products details section ends here -->



















       
</body>
</html>