<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Details</title>
    <link rel="stylesheet" href="../static/css/delivery-details.css">
</head>
<body>
    <!-- header section -->
     <header>
        <nav>
            <!-- left navbar -->
            <div class="left-nav">
                <div class="image">
                    <img src="../static/img/contact.png" alt="">
                </div>
                <div class="details">
                    <h6>Need help?</h6>
                   <a href="#">contact us</a>
                </div>
            </div>
            <!-- middle navbar -->
            <div class="middle-nav">
                <div class="image">
                    <img src="../static/img/payments.png" alt="">
                </div>
                <div class="details">
                    <h6>Secure</h6>
                   <a href="#">Payment</a>
                </div>
            </div>
            <!-- right navbar -->
             <div class="right-nav">
                <div class="image">
                    <img src="../static/img/returns.png" alt="">
                </div>
                <div class="details">
                    <h6>Eeasy</h6>
                   <a href="#">return</a>
                </div>
             </div>
            
        </nav>
     </header>
    <!-- header section ends -->
     <!-- hero section -->
      <div class="hero">
        <h1>X-Beta</h1>
         <!-- hero section ends -->
      </div>
</body>
</html>