<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Method</title>
    <link rel="stylesheet" href="../static/css/payment.css">
</head>
<body>
    <!-- header -->
     <header>
        <h4>X-Beta</h4>
        <img src="../static/img/logo3.png" alt="">
        <h3>PAY</h3>
     </header>
    <!-- header ends-->
     <div class="container">
        <div class="order-summary">
            <div class="summary">
                <span>ORDER SUMMARY</span>
                <a href="/X-beta/FRONTEND/templates/delevery-details.html">SEE DETAILS  ></a>
            </div>

            <div class="total">
                <p>TOTAL TO PAY</p>
                <p class="price">₦735,900</p>
            </div>
        </div>
        <h2>CHOOSE YOUR PAYMENT METHOD</h2>
         <div class="payment-method">

                <div class="input-radio">
                    <input type="radio">
                </div>
                <div class="text">
                    Pay with USSD or Bank Transfer
                </div>
                <div class="img">
                    <img src="../static/img/bank-phone.png">

                    <img src="../static/img/bank-img.png" alt="">
                </div>
        </div>

         <div class="payment-card">

                <div class="input-radio">
                    <input type="radio">
                </div>
                <div class="text">
                   Pay with Mastercard or Visa
                </div>
                <div class="img">
                    <img src="../static/img/mastercard-img.png">

                    <img src="../static/img/visa-img.png" alt="">
                </div>
        </div>
        <button>PAY NOW: 735,900</button>
     </div>

     <div class="warning">
        <p>Kindly note that you will never be asked for your </p>

        <p>password, PIN, CVV or full card details over the </p>

        <p>phone or via email.</p>
     </div>
     <div class="back-home">
        <a href="./home.html">BACK TO X-Beta</a>
     </div>
</body>
</html>