<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/products.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--header-->
    <header>
        <nav>
            <!--left navbar-->
            <div class="left-navbar">
                <div class="logo">
                    <img src="img/logo.png" alt="">
                </div>
            </div>
            <!--middle left navbar-->
            <div class="middle-navbar">
                <!--icon-->
                <div class="icon">
                    <i class='bx bx-search'></i>
                </div>
                <!--input filed-->
                <div class="input">
                    <input type="text" placeholder="Search products, brands and categories">
                </div>
            </div>
            <!--right navbar-->
            <div class="right-navbar">
                <div class="search-btn">
                    <button>Search</button>
                </div>

                <div class="icons icons-js">
                    <div class="clear"> 
                        <i class='bx bx-x'></i>
                        </div>
                    <div>
                        <a href="##"> <i class='bx bx-cart' ></i></a>
                       
                    <button><a href="Login.html">Log in</a> </button>
                    </div>
                    
                    <div>
                        <button><a href="signup.html">Sign up</a></button>
                        <div class="user">
                            <i class='bx bxs-user-circle'></i>
                        </div>
                      
                    </div>
                   
                   
                </div>
                <!--humber menu-->
                <div class="menu">
                    <i class='bx bx-menu'></i>
                </div>
            </div>
        </nav>
    </header>
    <!--header ends-->

    <!-- hero-product -->
        <div class="hero">
            <div class="top">
                <div class="humber-icon">
                    <i class='bx bx-menu'></i>
                </div>
                <p>X-Beta</p>
            </div>
            <div class="bottom-hero">
                <div class="advert">
                    <div class="text">
                        <h3>Hot Deals!!!</h3>
                        <small>Today's Offer</small>
                        <h3>BUY 3 ITEMS</h3>
                        <p>get free gift</p>
                    </div>
                </div>


                <div class="advert-product">
                    <img src="img/electronic-img.png" alt="">
                </div>
            </div>
        </div>
     <!-- end -->

     <!-- top selling items -->
      <div class="products-section">
        <div class="product-items">
            <h2>Top Selling Items</h2>
            <a href="#">See All ...<span><i class='bx bx-chevron-right'></i></span></a>
        </div>

        <div class="products-container js-product-container" id="product-list"></div>
        
        
        
      </div>
      <!-- end -->
       <!-- Official store -->
       <div class="official-store">
            <h2>Official Store</h2>
            <div class="official-products">
                <div><img src="img/hp-img.png" alt=""></div>
                <div><img src="img/apple-img.png" alt=""></div>
                <div><img src="img/infinix-img.png" alt=""></div>
                <div><img src="img/samsung-img.png" alt=""></div>
                <div><img src="img/ring-img.png" alt=""></div>
                <div><img src="img/itech-img.png" alt=""></div>
                <div><img src="img/vivo-img.png" alt=""></div>
                <div><img src="img/levenovo-img.png" alt=""></div>
            </div>
    </div>
        <!-- official ends -->

      <!-- hand picked items -->

    <!-- footer -->
      <div class="footer">
        <div class="left">
            <ul>
                <li><strong>X-Beta</strong></li>  
                <li>About Us</li>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Help and Support</li>
            </ul>
        </div>
        <div class="center">
            <p>Follow us on our social media platforms</p>
            <div>
                <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGTbC_OxfoAq5LP5zMcu1V_reTBxE12RtfwWj9JrfiuN88FDEw&s" alt="Facebook" width="24" height="24"></a>
                <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSINNCytXv2xJkIoaPS2VH7WUTWnZ-g2wgBhYHyy2xtMtBCPx8&s" alt="Instagram" width="24" height="24"></a>
                <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1QNpzD5uZc99TzEJcJpr9rjSRdVa78iNptDWaPKxD9TZPJBE&s" alt="Twitter" width="24" height="24"></a>
            </div>
            <p>&copy; X-Beta 2024</p>
        </div>
        <div class="right">
            <a href="#">Become a Vendor</a>
        </div>
    </div>
    <!-- end -->

    <script src="scripts/products.js"></script>
</body>
</html>