<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product details</title>
    <link rel="stylesheet" href="styles/product_details.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
       <!--header-->
       <header>
        <nav>
            <!--left navbar-->
            <div class="left-navbar">
                <div class="logo">
                    <img src="img/logo.png" alt="">
                </div>
            </div>
            <!--middle left navbar-->
            <div class="middle-navbar">
                <!--icon-->
                <div class="icon">
                    <i class='bx bx-search'></i>
                </div>
                <!--input filed-->
                <div class="input">
                    <input type="text" placeholder="Search products, brands and categories">
                </div>
            </div>
            <!--right navbar-->
            <div class="right-navbar">
                <div class="search-btn">
                    <button>Search</button>
                </div>

                <div class="icons icons-js">
                    <div class="clear"> 
                        <i class='bx bx-x'></i>
                        </div>
                    <div>
                        <a href="##"> <i class='bx bx-cart' ></i></a>
                       
                    <button><a href="Login.html">Log in</a> </button>
                    </div>
                    
                    <div>
                        <button><a href="signup.html">Sign up</a></button>
                        <div class="user">
                            <i class='bx bxs-user-circle'></i>
                        </div>
                    </div>
                </div>
                <!--humber menu-->
                <div class="menu">
                    <i class='bx bx-menu'></i>
                </div>
            </div>
        </nav>
    </header>
    <!--header ends-->
    
    <!-- hero--->
    <div class="hero">
        <div class="top">
            <div class="humber-icon">
                <i class='bx bx-menu'></i>
            </div>
            <p>X-Beta</p>
        </div>
         <!-- hero ends-->
          <!-- product sections -->
          <div class="product-section">
            <div class="product">
                <div class="left-product-section">
                    <!-- product images -->
                    <div class="product-images">
                        <!--main image-->
                    <div class="image">
                        <img src="img/car-charger-img.jpg" alt="">
                    </div>
                    <div class="mini-img">
                        <div><img src="img/car-charger-img.jpg" alt=""></div>
                        <div><img src="img/car-charger-img.jpg" alt=""></div>
                    </div>
                    </div>
                    <!-- images ends -->

                  
                         <!-- product info -->
                    <div class="product-info">
                        <p>
                            Quick Charge (QC) Chargers: Support Qualcomm’s Quick Charge technology. These can charge compatible devices much faster than standard chargers.
                            Power Delivery (PD) Chargers: Use USB-C and support the USB Power Delivery standard, allowing for fast charging of compatible devices including newer smartphones and tablets.</p>
                        <h4>$6,500</h4>
                        <div class="icon-info">
                            <!-- icon -->
                            <i class='bx bx-info-circle' ></i>

                             <small>3 unit left</small>
                        </div>
                        <div class="btn">
                            <a href="##"> <i class='bx bx-cart' ></i></a>
                             <!-- button -->
                         <button>Add To Cart</button>
                        </div>
                       
                    </div>
                    <!-- product info ends-->
                </div>
                <div class="right-product-section">
                   
                </div>
            </div>
            <!-- details -->
             <div class="product-details"></div>
            <!-- details ends-->
             <!-- customer reviews -->
              <div class="customer-reviewa"></div>
             <!-- customer reviews ends -->
          </div>
          <!-- ends -->
           <!--Footer section-->
    <script src="scripts/product_details.js"></script>    
</body>
</html>