<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congrats</title>
    <link rel="stylesheet" href="../static/css/success-payment.css">
</head>
<body>
    <!-- header -->
    <header>
        <h4>X-Beta</h4>
        <img src="../static/img/logo3.png" alt="">
        <h3>PAY</h3>
     </header>
    <!-- header ends-->
     <div class="container">
        <div class="image">
            <img src="../static/img/congrats-img.png" alt="">
        </div>
        <div class="text">
            <h4>Awesome! Payment Completed Successfully</h4>
            <p>Thank you for choosing X-Beta</p>
            <p>Track your order <a href="#">HERE</a></p>
        </div>

        <h4>Continue Shopping</h4>
        <a href="./home.html">BACK TO X-Beta</a>
     </div>
    
</body>
</html>