*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    list-style: none;
}
body, html{
    /* text-wrap: nowrap; */
    overflow-x: hidden;
    background-color:#f7f7f7 ;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

*,
::after,
::before {
    box-sizing: border-box
}
:root {
    --nav:#F0D6F0;
    --search:#B366B3;
    --hero:#E6CCE6;
    --hero-btn:#B366B3;



}


/* BUTTON */
.search-local button {
	background: #B366B3;
	border: none;
	border-radius: 0 1rem 1rem 0;
	font-weight: 500;
	font-size: 2.4rem;
	height: 7rem;
	width: 18rem;
	cursor: pointer;
	transition: all 0.3s;
	text-align: center;
}

button a {
	color: black;
}
button a:hover{
    color: white;
}

.search-local button .search-icon {
	display: none;
}

.search-local button:hover {
	letter-spacing: 0.5rem;
}


.brand img {
    width: 100px;
}



.hero-ham{
width: 34px;
height: 38.87px;
align-items: center;


}
.text p{
    line-height: 58.09px;
    font-size: #0000;
    font-size: 1.7rem;
    padding: 1rem 0;
}
.text h2{
    font-size: 5rem;;
    font-weight: 700;
}
.hero-section{
    width: 100%;
    background-color: var(--hero-btn);
    /* justify-content: center; */
    height:300px;
    position: relative;
margin-top: 40px;
overflow: hidden; 
}
.ab{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    top: 40%;
    /* object-fit: cover; */
}
.ab img{
    height: 100%;
    width: 100%;
}
.flex{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    /* gap: 25rem; */
    
}
.button{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--hero);
    /* color: white; */
    background-color: white;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}
.button::before{
    content: '';
    position: absolute;
    top: 0;
    width: 0%;
    right: 0;
    height: 100%;
    background: var(--hero);
    transition: .3s linear;
    z-index: -1;
}
.button:hover::before{
    width: 100%;
    left: 0;
}
.button:hover{
    color: white;
}
.text{
    text-align: center;
    
}
.T{
    display: flex;
    justify-content: center;
}


/* product section */
.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 5rem;
  }
  
  .img-container {
    width: 50%;
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 4%;
    float: left;
  }
  
  .left-image {
    width: 5%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 1rem 0 0 0;
    position: absolute;
    top: 50%;
    right: 87%;
    transform: translate(-50%, -50%);
  }
  .right-image {
    width: 5%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 0 1rem 0 0;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(-50%, -50%);
  }
  
  .main-image {
    width: 85%;
    height: 60%;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .write-up-container {
    width: 50%;
    grid-column: 2;
    background-color: #e6cce6;
    padding: 2rem;
    border-radius: 1rem;
    height: 40vh;
    float: right;
  }
  .write-up {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .write-up-heading {
    font-size: 24px;
    font-weight: bold;
    color: #131113;
    margin-bottom: 1rem;
    font-family: 'inter', sans-serif;
  }
  
  .write-up-body {
    font-size: 18px;
    color: #131113;
    text-wrap: wrap;
    word-wrap: break-word;
    width: 100%;
    font-family: 'inter', sans-serif;
  }
  .image-heading-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .image-heading {
    font-size: 24px;
    font-weight: bold;
    color: #131113;
    padding: 1rem;
    text-align: center;
    display: block;
    margin-top: -1rem;
    width: 100%;
  }

  .slide-container { 
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    white-space: nowrap;
    background-color: #E6CCE6;
    height: 300px;
    margin: 0;
  }
  .slides{
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    width:250px;
    height: 200px;
    transform: translate(0%, 40%);
    border: 2px solid #000;
    background-color: #fff;
  }

  .image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 1rem;
  }

  .image-label {
    font-size: 18px;
    font-weight: bold;
    color: #131113;
    margin-top: 1rem;
    text-align: center;
  }
  .slider-buttons {
    position: absolute;
    top: 180%;
    transform: translateX(-50%, -50%);
    }

    span.next, span.prev {
       position: absolute;
       top: 175%;
       
       transform: translateY(-50%);
       padding: 14px;
       color: #000;
       font-size: 24px;
       font-weight: bold;
       transition: 0.5s;
       border-radius: 3px;
       user-select: none;
       cursor: pointer;
       z-index: 1;
    }

    span.next {
        right: -10px;
    }
    span.prev {
        right: 1290px;
    }

    span.next:hover, span.prev:hover {
        background-color: #ede6d6;
        opacity: 0.8;
        color: #222;
    } 

  .transparent-image { 
    position: absolute;
    top: 110%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0.1;
    width: 350px;
    height: 300px;
   }
   @keyframes next1{ 
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
  }
  @keyframes next2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
from{
    left: 0%;
}
to{
    left: 100%;
}
}
@keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}








  /* product secton ends */

  /* footer */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-top: 5rem;
    background-color: #f1f1f1;
}

.footer div {
    flex: 1;
}

.footer .left, .footer .center, .footer .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .left ul {
    list-style-type: none;
    padding: 0;
}

.footer .left ul li {
    margin: 5px 0;
}

.footer .center a {
    margin: 0 10px;

}

.footer .center p {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}

.footer .right a {
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer .left .logo-and-list {
    display: flex;
    align-items: center;
}

.footer .left .logo-and-list .ab {
    width: 10px;  /* Adjust width as needed */
    height: auto;  /* Maintain aspect ratio */
    margin-right: 20px;  /* Space between the logo and the list */
}


/* media query */


    @media (min-width: 769px) { /* Desktop screens */
        .hamburger {
            display: none; /* Hide hamburger menu on desktop screens */
        }
        /* body{
            background-color: #0E0E0E;
        } */
        header .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    @media (max-width: 769px) { /* Desktop screens */
    
        body{
            /* background-color: #0E0E0E; */
        }
        header {
            flex-direction: row; /* Change flex direction to horizontal */
            justify-content: space-between; /* Align items to the start and end of the header */
            padding: 1.5rem 2rem; /* Adjust padding as needed */
        }
        header .nav.active {
            transform: translateX(0%);
            opacity: 1;
            pointer-events: auto; /* Allow interaction with the navigation when it's visible */
        }
    
        .icons {
            display: flex; /* Ensure icons are displayed inline */
            align-items: center; /* Align icons vertically */
        }
    
        .hamburger {
            /* display: initial; */
            /* display: ; */
            margin-left: auto; /* Push hamburger menu to the right */
         }
    
        #cart-btn {
            margin-left: 1.5rem; /* Add spacing between hamburger menu and cart icon */
        }
    
        .icons {
            display: flex;
            align-items: center;
        }
    
        .icons div {
            font-size: 2rem;
            margin-left: 1rem; /* Adjust spacing between icons */
        }
        body{
            background-color: orangered;
        }
        .hom .hero-image img{
            width: 100%;
        }
        header .nav a{
            /* color: darkgreen; */
        }
        header{
            left: 0;
            right: 0;
        }
        
        
        header .nav{
            position: absolute;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            background-color: white;
            /* box-shadow: 0 6px 5px rgba(153, 153, 153, 0.548); */
            top: 100%;
            left: 0;
            right: 0;
            opacity:0.8;
            padding: 50px 20px;
            gap: 30px;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-content: center;
            /* transform: translateX(0%); */
            transition: all 1s;
            /* border-top: 1px solid var(--dhi-danger-300); */
        }
        
        header .icons div{
            font-size: 2rem;
        }
        .login{
            display: none;
        }
        .log{
            display: initial;
        }
        header .nav a{
            margin: 1.5rem 0;
            padding: 1.5rem;
            display: block;
            /* border: .2rem solid rgba(0, 0, 0, 0.1); */
            /* border-left: 5rem  var(--dhi-danger-100); */
            /* background-color: var(--dhi-danger-100); */
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 20px;
            width: 100%;
        }
        header .nav{
            opacity: 0;
    
        }
    }

   

@media(max-width:1000px){
    body{
        background-color: orange;
    }
    html{
        font-size: 53%;
    }
    
}

@media(max-width:991px){
    body{
        /* background-color: blue; */
    }
    html{
        font-size: 55%;
    }
}
@media screen and (max-width: 800px) {
    body{
        background-color: red;
       
    }
   
}
@media(max-width:768px){
    body{
        background-color: orangered;
    
   
    
    
   

}
    
   

}

  

@media only screen and (max-width: 1024px) {
  
   }
   @media (max-width: 575px) {
	.search-local {
		padding-left: 0;
		column-gap: 0.25rem;
	}

	.search-local button {
		width: 10rem;
	}

	button a {
		display: none;
	}

	.search-local button .search-icon {
		display: block;
		margin-inline: auto;
		color: white;
		font-size: 3rem;
	}

	input[type="text"]::placeholder {
		font-size: 1.7rem;
	}
}

   
   @media only screen and (max-width: 480px) {
     
   }


    @media(max-width:400px){
        html{
            font-size: 50%;

        }
        body{
            background-color: red;
        }
        .text h2{
            color: red;
        }
      
       
    }

    
    